<section class="section HomePage">
 <div class="container">
 	<h1> "Si nous enseignons aujourd'hui comme nous faisions hier, nous volons le futur 	de nos enfants" - John Dewey
 	</h1>
 	<p>La téchnologie donne le pouvoir aux élèves pour mieux apprendre et comprendre!</p>
 	<p>L'enseignant a plus de temps de rentrer en profondeur des léçons</p>
 </div>



</section>
