<p id="notice"><%= notice %></p>
<div class="section">
  <div class="container">
    <div class="columns ">
      <div class="column is-10">
        <div class="subtitle">
          <%= @course.title %>
        </div>
        <article class="media">
          <div class="media-left">
            <figure class="image">
              <%= link_to i  edit_user_registration_path, class: "button" do %>
                <img src="https://bulma.io/images/placeholders/32x32.png">
              <% end %>
            </figure>
          </div>
          <!--infos createur Nom_complet et son bio/!-->
          <div class="media-content">
            <div class="content">
              <%= sanitize @course.corps %>
            </div>
          </div>
        </article>
    </div>   
  </div>
 </div>
</div>